.header {
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    background-color: #236B8E;
}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("https://images.pexels.com/photos/5638701/pexels-photo-5638701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")no-repeat;
    background-position: center;
    background-size: cover;

}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    border: 1px solid #236B8E;
    border-radius: 0px;
    background-color: #9AC0CD;
}
.form-box1{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid #ffffff80;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 40px;
    background-color: #236B8E;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox {
    padding: 10px 40px;
    background-color: #236B8E;
    text-color: #FFFFFF;
    border-radius: 10px;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.bottom {
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}

.bio {
    padding: 70px 80px;
    background-color: #f51111;
    border-radius: 10px;
    border-inline-start: 5px;
}