<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>
    <h1>welcome </h1>

    <h1>Explore some of your memories</h1>
    <div class= 'container'>
        <nav>
            <a href="sign_in.html">
            </a>
            <ul>
                <li><a href="#">YOUR MEMORIES</a></li>
                <li><a href="{{ 'uploads' }}">upload new MEMORIES</a></li>
                <li><a href="#">find friends</a></li>
            </ul>

        </nav>
        <!--<table action="{{ url_for('display') }}">
            <tr>
                <td>{{item['image']}}</td>
                <td>{{item['bio']}}</td>
            </tr>
        </table>-->
        <a href="{{ url_for('logout') }}" class="btn">Logout</a> 
    </div>
</body>

</html>