<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/main.css">
    <title>Egallery</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="images/Linear logo of the photographer. camera shutter logo.png" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="{{url_for('register')}}">REGISTER</a></li>
                    <li><a href="{{url_for('login')}}">LOGIN</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col">
            <h1 class="first">MAKE MEMORIES </h1>
            <h1 class="second"></h1> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem odio quod soluta delectus similique sed odit, quia assumenda vitae ullam sit, nobis aspernatur necessitatibus expedita quibusdam facilis harum aliquam ad?</p>
        <button type="button">EXPLORE</button>
        </div>
        <div class="col">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        </div>
    </div>
    <script>
        const text = document.querySelector(".second");
        const textLoad = () =>{
            setTimeout(() => {
                text.textContent = "ineffeable" 
            }
            ,8000);
        
            setTimeout(() => {
                text.textContent = "timeless"
            }
            ,4000);
            
            setTimeout(() => {
                text.textContent = "MEMORABLE"
            }
            ,0);
        }

        textLoad();
        setInterval(textLoad, 12000)
        
    </script>
</body>
</html>