<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/main.css">
    <title>Egallery</title>
</head>
<body>

    <div class="container">
        <div class="navbar">
        <nav>
            <a href="sign_in.html">
            <img src="images/Linear logo of the photographer. camera shutter logo.png" alt="" class="logo">
            </a>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="sign_in.html">LOGIN</a></li>
                <li><a href="register.html">REGISTER</a></li>
            </ul>

        </nav>
       <div class="text">
            <h1>
                <br>
                
                <span class="auto-type"></span></h1>
            <p>Make a digital photo gallery.</p>
            <p>Here to help you relieve all the beautiful moments!!</p>
            <button type="button"><a href="register.html">EXPLORE</a></button>
        </div>
        
    </div>
    
        
    

    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed(".auto-type", {
            strings:["  MAKE MEMORIES <br> BEAUTIFUL", "  MAKE THEM <br>MEMORABLE", " MAKE MOMENTS <br>TIMELESS"],
            typeSpeed:150,
            backSpeed:150,
            loop:true

        })
    </script>
</body>
</html>
