<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background:whitesmoke;">
    <h1 class="auto-type" style="font-family: 'Times New Roman', Times, serif; font-size:50px;font-weight:500; color: teal; text-align: center;">MEMORIES</h1>
    <hr>

    <div style="  position:fixed; background-color:teal;float: left; width: 20%;height:100vh; text-align: center; border: 2px solid #fff;margin-top: 120px;">
        <div style="align-items: center;"><img src="https://images.pexels.com/photos/7275385/pexels-photo-7275385.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=236.25&fit=crop&h=382.5" alt="" style="border:3px solid #D1D7E0;border-radius: 50%; height: 130px; width: 90px; float:none; margin:10px 10px 10px 10px;"></div>
    <H2 style="color: white;">Nyaradzo</H2>
    <p style="margin-top: 70px;"><q>This gallery is <br> a virtual representation 
        of<br> my "human experiences"</q></p>

        <button style="
        margin-top:50px;
        width: 80%;
        height: 40px;
        border-radius: 40px;
        background: white;
        color: teal;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;"><a href="index.html" style="text-decoration: none;color: teal;">LOGOUT</a></button>
  </div>
    <div style="width:70%;height: 100vh; float: right;">


        <div style="display: grid;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        gap: 20px; margin-top: 90px;">
            <img src="https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style=" max-width: 100%;
            display: block;
            height: 100%;                                      

            object-fit: cover;">
            <img src="https://images.pexels.com/photos/1848565/pexels-photo-1848565.jpeg?auto=compress&cs=tinysrgb&w=400" alt="" style=" max-width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;">
            <img src="https://images.pexels.com/photos/886285/pexels-photo-886285.jpeg?auto=compress&cs=tinysrgb&w=400" alt="" style=" max-width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;">
            <img src="https://images.pexels.com/photos/236171/pexels-photo-236171.jpeg?auto=compress&cs=tinysrgb&w=400" alt="" style=" max-width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;">
        </div></div>

        <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings:["THESE MEMORIES GOT ME ","FEELING NOSTALGIC" ],
                typeSpeed:150,
                backSpeed:150,
                loop:true
    
            })
        </script>

</body>
</html>