
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    /><link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="profile">
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src="https://images.pexels.com/photos/2896428/pexels-photo-2896428.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Anna Smith" />
            <span></span>
          </div>
          <h2>Nyari</h2>
          <p>A</p>
          <p>anna@example.com</p>
        

          <div class="content">
            <h3>My beautiful digital album</h3>

            <ul>
              <li><i class="fab fa-twitter"></i></li>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-dribbble"></i>
            </ul>
          </div>
        </div>
        <div class="right__col">
        Photos

          <div class="photos">
            <img src="https://images.pexels.com/photos/1087735/pexels-photo-1087735.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Photo" />
            <img src="https://images.pexels.com/photos/853151/pexels-photo-853151.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Photo" />
            <img src="https://images.pexels.com/photos/1848565/pexels-photo-1848565.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Photo" />
            <img src="https://images.pexels.com/photos/1164674/pexels-photo-1164674.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Photo" />
            <img src="https://images.pexels.com/photos/2672979/pexels-photo-2672979.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Photo" />
            <img src="https://images.pexels.com/photos/2043590/pexels-photo-2043590.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Photo" />
            <input type="file" placeholder="Add memories" style="border: 1px solid transparent; height: 100%;" >
          </div>
        </div>
      </div>
    </div>
    <input type="file" placeholder="Add memories" style="border: 1px solid transparent; height: 100%;" >

  </body>
</html>