<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uploading page</title>
</head>

<body>
    <div>
        <div class="border">
            <div class="header">
                <h1 class="word">create new memory</h1>
            </div>
            <div>
                <form action="/uploads" method="POST" enctype="multipart/form-data">
                    <div class="msg">{{ msg }}</div>
                    <input type="file" id="file" name=" file " placeholder="select file " required><br><br>
                </form>
                <form action="/uploads" method="POST">
                    <div class="msg">{{ msg }}</div>
                    <input type=" text " id="bio " name="bio " placeholder="tell us about what happened on your this day " required><br><br>
                    <button class="b3">submit</button>
                </form>
            </div>
        </div>
</body>

</html>

</html>