<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uploading page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <section class="reg">
        <div class="form-box1">
            <div class="form-value">
                <form action="{{url_for('uploads')}}" method="post" enctype="multipart/form-data">
                    <div class="msg ">{{ msg }}</div>
                    <h2> record new memories </h2>
                    <div>
                        <input id="file" name="file" type="file" placeholder="upload file">
                    </div><br><br><br><br>
                    <div>
                        <textarea rows = "10" cols = "30" name = "bio" placeholder="write bio"></textarea>    
                    </div><br><br>
                    <button class=" b3 ">submit</button>
                </form>

            </div>
        </div>
    </section>
</body>

</html>

</html>